@model College

<form asp-action="DeleteCollege" role="form">
    @Html.Partial("_ModalHeader", new ModalHeader { Heading = "Delete College" })
    <input type="hidden" asp-for="CollegeID" />
    <div class="modal-body form-horizontal">
        Are you sure you want to delete @Model.CollegeName?
    </div>
    @Html.Partial("_ModalFooter", new ModalFooter { SubmitButtonText = "Delete" })
</form>

