@model City

<form asp-action="DeleteCity" role="form">
    @Html.Partial("_ModalHeader", new ModalHeader { Heading = "Delete City" })
    <input type="hidden" asp-for="CityID" />
    <div class="modal-body form-horizontal">
        Are you sure you want to delete @Model.CityName?
    </div>
    @Html.Partial("_ModalFooter", new ModalFooter { SubmitButtonText = "Delete" })
</form>