@model Room

<form asp-action="DeleteRoom" role="form">
    @Html.Partial("_ModalHeader", new ModalHeader { Heading = "Delete Room" })
    <input type="hidden" asp-for="RoomID" />
    <div class="modal-body form-horizontal">
        Are you sure you want to delete @Model.RoomName?
    </div>
    @Html.Partial("_ModalFooter", new ModalFooter { SubmitButtonText = "Delete" })
</form>
