@using SIS.Models
@model Room


@{
    ViewData["Title"] = "Room";
}

<div class="top-buffer"></div>

<div class="card card-flat">
    <div class="card-header">
        <div class="card-title">Room List</div>
    </div>

    <div class="card-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                </div>
                <div class="col-md-4">
                    <div hidden class="btn-group  float-right mt-1">
                        <a id="createRoomModal" data-toggle="modal" asp-action="AddEditRoom" data-target="#modal-action-Room" class="btn btn-dark">
                            <i class="fa fa-plus"></i> New
                        </a>
                    </div>
                </div>
            </div>
            <div class="spacer5"></div>
            <div class="row">
                <div class="table-responsive">
                    <table id="tblRoom" class="table table-striped table-hover table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th><label asp-for="RoomID" class="control-label"></label></th>
                                <th>Edit</th>
                                <th>Delete</th>
                                <th><label asp-for="BuildingID" class="control-label"></label></th>
                                <th><label asp-for="RoomCode" class="control-label"></label></th>
                                <th><label asp-for="RoomName" class="control-label"></label></th>
                                <th><label asp-for="Capacity" class="control-label"></label></th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("_Modal", new BootstrapModel { ID = "modal-action-Room", AreaLabeledId = "modal-action-Room-label", Size = ModalSize.Large })

@section scripts
{

    <script src="~/lib/BootstrapDatatable/jquery.dataTables.min.js"></script>
    <script src="~/lib/BootstrapDatatable/dataTables.bootstrap4.min.js" asp-append-version="true"></script>
    <script src="~/js/dataTables.rowReorder.min.js" asp-append-version="true"></script>
    <script src="~/lib/datatables/Responsive-2.2.2/js/dataTables.responsive.min.js" asp-append-version="true"></script>
    <script src="~/js/dataTables.buttons.min.js" asp-append-version="true"></script>

    <script src="~/js/Room-index.js" asp-append-version="true"></script>
    <script src="~/lib/Select2/select2.min.js"></script>
    <script src="~/lib/bootstrap-input-spinner/src/bootstrap-input-spinner.js"></script>

}



<link href="~/css/BootstrapDatatable/dataTables.bootstrap4.min.css" rel="stylesheet" />
<link href="~/css/icheck-bootstrap.min.css" rel="stylesheet" />

<link rel="stylesheet" href="~/css/responsive.dataTables.min.css" />
<link rel="stylesheet" href="~/lib/Select2/select2.min.css" />
<link rel="stylesheet" href="~/lib/Select2/select2-bootstrap4.min.css" />